<!DOCTYPE html>
<html data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="images/server" type="image/svg+xml">
    <title>About Us</title>
</head>
<body>
    <main class="container">
        <div class="center">
            <h1>Valida JS</h1>
        </div>

        <div class="center">
            <img src="./images/js" width="400px">
        </div>

        <br>

        <p style="font-size: 22px">Programa desenvolvido em JavaScript com o objetivo de explorar o sistema de rotas, tendo três caminhos possíveis: o de entrada, que mostra o arquivo, o de links, que apresenta todos os links presentes no documento, e o validar que demonstra o status code utilizando o node.js</p>

        <br>
        

        <div class="grid">      
            <a href="./entrada" role="button" class="contrast outline">Entrada</a>
            <a href="./links" role="button" class="contrast outline">Links</a>
            <a href="./validar" role="button" class="contrast outline">Validar</a>
        </div>

        <br>
        <br> 
        <hr>
        <br>
        <br>    

        <div class="grid">
            <h2>Desenvolvido por</h2>
        </div>

        <div class="grid">
            <article data-theme="light" class="card">
                <img src="./images/erick" alt="">
                <h4>Erick Sousa Santos</h4>
                <p>Estudante de Desenvolvimento de Software Multiplataforma na FATEC Zona Sul.</p>
                <a href="http://ericksantos12.neocities.org">Neocities</a>
            </article>
            <article data-theme="light" class="card">
                <img src="./images/gani" alt="">
                <h4>Gabrielle Carvalho Gonçalves das Neves</h4>
                <p>Estudante de Desenvolvimento de Software Multiplataforma na FATEC Zona Sul.</p>
                <a href="https://gabriellecgneves.neocities.org/">Neocities</a>
            </article>
            <article data-theme="light" class="card">
                <img src="./images/gui" alt="">
                <h4>Guilherme Soares de Sousa</h4>
                <p>Estudante de Desenvolvimento de Software Multiplataforma na FATEC Zona Sul.</p>
            </article>
        </div>
    </main>
</body>
</html>